body {
    margin: 0;
    background-color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#controls {
    background-color: blue;
    width: 600px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
}

.hide {
    display: none;
}

.logview {
    --notset-color: rgb(0, 0, 0);
    --debug-color: rgb(100, 100, 100);
    --info-color: rgb(0, 190, 255);
    --warn-color: rgb(253, 177, 78);
    --warn-color-text: rgb(250, 209, 26);
    --error-color: rgb(255, 0, 100);
    --critical-color: rgb(255, 0, 0);

    background-color: rgb(185, 185, 185);

    font-family: monospace;
    /*background-color: rgb(255, 240, 0);*/
}

/* distribute space */
.logview td {
    width: auto;
    /*    text-wrap: nowrap;*/
    white-space: nowrap;
}

.logview td:nth-child(3) {
    width: 90%;
}

/* END distribute space */

/* Colorpills on the second column (should propably just generate better markup */
.logview td:nth-child(2) p {
    border-radius: 0.5em;
    border-spacing: 2px;
    margin: 1px;
    text-align: center;
    font-weight: 900;
    padding: 0.05em 0.5em;
}

.logview .loglevel-error td:nth-child(2) p {
    color: rgb(240, 240, 240);
    background-color: var(--error-color);
}

.logview .loglevel-warn td:nth-child(2) p {
    color: rgb(240, 240, 240);
    background-color: var(--warn-color);
}

.logview .loglevel-critical td:nth-child(2) p {
    color: rgb(240, 240, 240);
    background-color: var(--critical-color);
}

.loglevel-notset {
    color: var(--notset-color);
}

.loglevel-info {
    color: var(--info-color);
}

.loglevel-debug {
    color: var(--debug-color);
}

.loglevel-warn {
    color: var(--warn-color-text);
}

.loglevel-error {
    color: var(--error-color);
}

.loglevel-critical {
    color: var(--critical-color);
}

.logfilter-select-show {
    background-color: rgb(0, 255, 0);
}

.logfilter-select-show::before {
    content: "\f0208";
}

.logfilter-select-show_weak {
    background-color: rgb(34, 150, 34);
}

.logfilter-select-show_weak:before {
    content: "\f086c";
}

.logfilter-select-hide_weak {
    background-color: rgb(124, 0, 0);
}

.logfilter-select-hide_weak:before {
    content: "\f15e4";
}

.logfilter-select-hide {
    background-color: rgb(255, 0, 0);
}

.logfilter-select-hide:before {
    content: "\f0209";
}

.logfilter-select-hide:before,
.logfilter-select-hide_weak:before,
.logfilter-select-show::before,
.logfilter-select-show_weak:before {
    font-family: "CaskaydiaMono NF";
    font-style: normal;
    font-weight: normal;
    /* speak: never; */

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
}

/* .logfilter-show {
    background-color: green;
}

.logfilter-hide {
    background-color: red;
}

.logfilter-hide_weak {
    background-color: lightcoral;
}

.logfilter-show_weak {
    background-color: rgb(153, 255, 153);
} */

/* 

    Logfilters: in reverse order of importance as later rules dominate earlier ones

    - hide: hide
    - weak-hide: hide
    - weakshow: show unless hide on level above ->
        show rules (to override weak hide) <= these need to be in the right spot: weakshow overrides hide only if it is more specific
            (i.e. A-B-weakshow should not cancel A-B-C hide or A-B-C weakhide)
        hide rules follow
    - show from most selective to least

    //-----
    - hide, weak-hide, weakshow: hide rules before show rules, grouped by selectivity, i.e. hide/weak-hide/weakshow A go before hide/weak-hide/weakshow A-B
      => A-weakshow, A-B-weakhide => A-B hidden
    - show rules last: they always override everything else

*/

/*
=> Measure Performance with firefox/edge performance tools once this is working.
See https://blogs.windows.com/msedgedev/2023/01/17/the-truth-about-css-selector-performance/
*/

.logfilter-controls-level {
    padding-left: 15px;
}

.buttonbar {
    display: flex;
    flex-wrap: nowrap;
}

.buttonbar > * {
    margin: 0 5px;
}
